@import '../../../styles/index.styl';

.list
  width 100%
  display flex
  flex-wrap wrap
  gap 10px
  &Item
    background-color colors.white
    color colors.black
    border 1px solid transparent
    border-radius radiuses.large
    padding 5px 10px
    