@import "variables.styl"
@import "global.styl"
@import "mixins.styl"

a 
  text-decoration none

.container 
  max-width 900px
  width 100%
  margin 0 auto
  padding-inline 20px

@media  (max-width: brakepoints.mobile) 
  .container
    padding-inline 10px

  
