
activeLink(isActive)
  if isActive
    color colors.black
    background-color colors.white
  else 
    color colors.white
    background-color colors.darkGrey

backgroundMixin()
  transition transitions.fast
  background-color colors.darkGrey;
  &:hover
    background-color colors.lightGrey;
    & p, & h2
      color colors.black;