colors = {
  white: #f1f2f9
  black: #131315
  darkGrey: #19191c
  lightGrey: #969393
}

brakepoints = {
  mobile: 480px
  tablet: 768px
  desktop: 1200px
}

radiuses = {
  small: 5px
  medium: 10px
  large: 20px
}

transitions = {
  fast: 0.3s
  slow: 1s
}

sizes = {
  header: 80px
}

fonts = {
  small: 12px
  medium: 16px
  large: 20px
}