@import '../../../../styles/index.styl';

.button 
  cursor pointer
  width 50px
  aspect-ratio 1 / 1
  border-radius 50%
  transition transitions.fast
  background-color colors.darkGrey
  border 2px solid transparent;
  outline none
  &:hover
    background-color colors.black
    border-color colors.white;
  &Icon
    font-size 30px