@import '../../../styles/index.styl';

.header
  background-color colors.black
  height 80px

  &Wrapper 
    height 100%
    width 100%
    display flex
    justify-content space-between
    align-items center

    &Logo

    &Nav
      height 100%
      display flex
      align-items center
      gap 20px

      &NavLink
        padding 10px 20px
        color colors.white
        background-color colors.darkGrey
        border-radius radiuses.small
        transition transitions.fast

      & .active
        activeLink(true)


